/* Estilos generales para la página */
body {
    font-family: Arial, sans-serif;
    background-color: #b3ddde46!important;
    margin: 0;
    padding: 0;
}

/* Estilo para el contenedor de productos */
#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra las tarjetas en el contenedor */
    padding: 20px;
}

/* Estilo para cada tarjeta de producto */
.card {
    border: 1px solid #ddd;
    border-radius: 0.375rem;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    width: 100%; /* Asegura que la tarjeta ocupe el ancho completo de su contenedor */
    max-width: 300px; /* Limita el ancho máximo de las tarjetas */
    margin: 10px; /* Espacio alrededor de cada tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega sombra para mayor profundidad */
}

.card-img-top {
    object-fit: cover;
    height: 200px;
    width: 100%; /* Asegura que la imagen cubra todo el ancho de la tarjeta */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.card:hover {
    transform: scale(1.02);
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    font-size: 1rem;
}

.btn-primary {
    margin-top: auto; /* Mantiene el botón en la parte inferior de la tarjeta */
}

/* Ajuste para pantallas grandes */
@media (min-width: 992px) {
    #product-list {
        justify-content: space-around; /* Ajusta la distribución en pantallas grandes */
    }

    .card {
        max-width: 300px; /* Limita el ancho máximo de las tarjetas */
    }
}

/* Ajuste para tabletas y pantallas medianas */
@media (min-width: 768px) and (max-width: 991.98px) {
    #product-list {
        justify-content: center; /* Centra las tarjetas en pantallas medianas */
    }

    .card {
        max-width: 250px; /* Limita el ancho máximo de las tarjetas */
    }
}

/* Ajuste para dispositivos móviles */
@media (max-width: 767.98px) {
    #product-list {
        flex-direction: column; /* Cambia la dirección de las tarjetas a columna en pantallas pequeñas */
        align-items: center; /* Centra las tarjetas en pantallas pequeñas */
    }

    .card {
        max-width: 100%; /* Asegura que las tarjetas ocupen todo el ancho disponible en pantallas pequeñas */
    }
}

.hidden {
    display: none;
}
#carousel{
    max-width: 50%; /* Ancho máximo de la imagen */
    max-height: 4vh!important; /* Altura máxima de la imagen en porcentaje del viewport height */
}    



